config settings 'global'
	option enabled '0'
	option listen ':3478'
	option stun '1'

config tls 'tls'
	option certfile ''
	option keyfile ''

config mesh 'mesh'
	option enabled '0'
	option key ''

config ops 'ops'
	option metrics '127.0.0.1:9911'
	option health ':9912'

config traffic 'traffic'
	option persist '0'
	option path '/tmp/tailscale-derp-traffic.json'
	option interval '60'

config verify 'verify'
	option url ''
	option fail_open '0'
